/*
 * @Author: YunxuanSheng 
 * @Date: 2021-07-19 16:30:31 
 * @Last Modified by:   YunxuanSheng 
 * @Last Modified time: 2021-07-19 16:30:31 
 */


.search{
  .head{
  margin-top: 43px;

    .van-search__content{
            border-radius: 6px;
      background-color: #f4f4f4;
    }


    .van-search__action{
      font-size: 15px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #1677FF;
    }
  }

  .tag-header{
    margin-left: 20px;
    margin-top: 23px;

    font-size: 14px;
    font-family: PingFang-SC-Medium, PingFang-SC;
    font-weight: 500;
    color: #282B3F;
    line-height: 20px;

    .right-head{
      margin-right: 20px;

      display: flex;
      align-items: center;

      font-size: 13px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #ABACB7;
      line-height: 18px;

    }

  }

  .tag-row{
    margin-top: 20px;
    margin-left: 20px;

    .van-tag--default {
      background-color: #F5F5F9;
      border-radius: 2px;
    }

    .tag{
      margin-left: 10px;
      padding: 6px 6px 5px 5px;
    }

  }

}
