/*
 * @Author: YunxuanSheng 
 * @Date: 2021-07-19 16:30:36 
 * @Last Modified by: YunxuanSheng
 * @Last Modified time: 2021-07-23 09:29:51
 */


.transaction-detail{
  width:100%;
  background: #FFFFFF;
  background-size: contain;
  font-family: PingFang-SC-Medium, PingFang-SC;

  margin: 0px;
  padding: 0px;



  .background{
    height: 100%;
    width: 100%;
    position: fixed;
    background-color:  #F4F6FC;

  }

  .content{
    background-color: #FFFFFF;

    ::v-deep{
      .van-tab--active{
        font-size:18px;
        font-weight: 500;
      }

      .header-div{
        background-color: #FFFFFF;
      }


    }

  }

  .header{
    display:flex;
    justify-content: center;
    align-items:center;

    .left-arrow{
      display:flex;
      justify-content: center;
      align-items:center;

      font-size: 18.35px;
      margin-left: 5px;
    }
  }

  .transaction{
    background: #FFFFFF;

    margin-left: 6px;
    margin-right: 6px;
    margin-bottom: 10px;
    border-radius: 6px;

    .transaction-header-cell{

    }
    .transaction-header{
      display: flex;
      flex-direction: row;
      justify-content: flex-start;

      .header-icon{
        margin-right: 8px;
      }

      .customer{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 3px;


        .customer-name{
          font-size: 15px;
          font-weight: 500;
          color: #272727;
          line-height: 21px;

          margin-right: 12px;
        }

        .customer-phone{
          display: flex;
          justify-content: center;

          color: #0062FF;
        }
      }

      .index{
        font-size: 12px;
        font-weight: 400;
        color: #545B6C;
        line-height: 17px;
      }
    }

    .transaction-info{
      margin-top: 13px;

      .product-info{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 79px;

        .product-name{
          font-size: 14px;
          font-weight: 500;
          color: #282B3F;
        }

        .product-price{
          text-align: right;
        }

        .product-detail{
          display: flex;
          flex-direction: row;
          justify-content: flex-start;

          .transport-tag{
            font-size: 12px;
            font-weight: 400;
            color: #9A9B9D;

            margin-right: 12px;
          }

          .product-format{
            font-size: 12px;
            font-weight: 500;
            color: #282B3F;

            margin-right: 20px;
          }

          .product-amount{
            font-size: 12px;
            font-weight: 500;
            color: #282B3F;

          }


        }
      }

      .img-div{
        width: 79px;
        height: 79px;
        background-color: #F6F6F6;
        border-radius: 4px;

        display: flex;
        justify-content: center;
        align-items: center;
      }

      .product-image{
        height: 65px;
        width: auto;
      }

      .transaction-status{
        margin-top: 8px;

        font-size: 12px;
        font-weight: 500;
        color: #282B3F;
        line-height: 17px;
      }


    }

    .transaction-total-cell{

      padding:10px;

      .transaction-buttons{
        margin-top: 15px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        .cancle{
          padding:0;
          background: #D7DBE0;

          font-size: 10px;
          font-family: PingFangSC-Regular, PingFang SC;
          font-weight: 400;
          color: #333333;
          line-height: 16px;

          width: 60px;
          height: 25px;
          border-radius: 2px;

          margin-right: 12px;
        }

        .complete{
          padding:0;
          background: #005D28;

          font-size: 10px;
          font-family: PingFangSC-Regular, PingFang SC;
          font-weight: 400;
          color: #FFFFFF;
          line-height: 16px;

          width: 60px;
          height: 25px;
          border-radius: 2px;
        }
        
      }

      .transaction-total{
        display: flex;
        justify-content: space-between;
        align-items:  baseline;
        flex-direction: row;

        padding:0px;


        .transaction-date{
          font-size: 12px;
          font-weight: 400;
          color: #545B6C;
          line-height: 17px;

          margin-left: 5px;
          margin-right: 57px;
        }


        .total-price{
          font-size: 16px;
          font-weight: 500;
          color: #282B3F;
          line-height: 22px;
        }
      }
    }

  }
}
